@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Jost&display=swap');

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 2px;
  background: #3A3939;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #6480C7; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

.Description {

  position: absolute;
  width: 507.4px;
  height: 266px;
  right: 85px;
  top: 58.02px;
 
  font-size: 38.1254px;
  line-height: 38px;
  text-align: right;
  color: #FFFFFF;
  text-shadow: 4px 2px 0px rgba(0, 0, 0, 0.25);

}

body {
  background-color: #212121;
}

.Circle{
  border-radius: 50%;
  position: absolute;
}
.Circle1 {
  width: 432.09px;
  height: 432.09px;
  left: 124.97px;
  top: 40.24px;
  background: #920D0D;
  box-shadow: -40px 4px 0px rgba(0, 0, 0, 0.25);
}

.Circle2 {
  width: 366.43px;
  height: 366.43px;
  left: 751.92px;
  top: 154.17px;
  background: #6480C7;
  box-shadow: -40px 4px 0px rgba(0, 0, 0, 0.25);
}

.StarterImage {
  position: absolute;
  width: 575.67px;
  height: 558.72px;
  left: 50px;
  top: 25px;
  filter: drop-shadow(-42px 4px 0px rgba(0, 0, 0, 0.25));
}

.Vector {
  background-color: null;
  position: absolute;
  max-width: max-content;
  height: 300.77px;
  left: 0px;
  top: 436.22px;
}

.Vector3 {
  background-color: null;
  position: absolute;
  max-width: 100%;
  height: 300.77px;
  left: 0px;
  top: 456.22px;
}

.Vector2 {
  background-color: null;
  position: absolute;
  max-width: 100%;
  height: 300.77px;
  left: 0px;
  top: 476.22px;
}

.Circle3 {
  width: 230.87px;
  height: 230.87px;
  left: 974.32px;
  top: 728.62px;
  background: #920D0D;
}

.interests {
  position: absolute;
width: 843.23px;
height: 407.68px;
left: 302px;
top: 875px;

}

.pendulums {
  position: absolute;
width: 366.43px;
height: 366.43px;
box-shadow: 0px 28px 0px rgba(0, 0, 0, 0.25);
}

.pendulum1{
  left: -179px;
  top: 887px;
  
  background: #6480C7;
}

.pendulum2{
  left: -179px;
  top: 1071.43px;
  
  background: #FFFFFF;
}

.pendulum3{
  left: -179px;
  top: 1255.85px;
  
  background: #920D0D;
}

.interestcircle{
  position: absolute;
width: 230.87px;
height: 230.87px;
left: 974.31px;
top: 648.62px;

background: #920D0D;
box-shadow: -40px 4px 0px rgba(0, 0, 0, 0.25);
}

.heading {
  position: absolute;
  width: 393px;
  height: 72px;
  left: 751.92px;
  top: 806.99px;
  font-size: 72.3604px;
  line-height: 72px;
  
  color: #FFFFFF;
  
  text-shadow: 6px 4px 4px rgba(0, 0, 0, 0.25);
}

p{
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
}

.heading {
  position: absolute;
  width: 393px;
  height: 72px;
  left: 751.92px;
  top: 656.99px;
  font-size: 72.3604px;
  line-height: 72px;
  
  color: #FFFFFF;
  
  text-shadow: 6px 4px 4px rgba(0, 0, 0, 0.25);
}

.subheading {
  position: absolute;
  width: 283px;
  height: 38px;
  left: 854.01px;
  top: 759px;
  font-size: 38.13px;
  line-height: 38px;
  text-align: right;
  
  color: #FFFFFF;
  
  text-shadow: 6px 4px 4px rgba(0, 0, 0, 0.25);
}

.subheadsquare{
  position: absolute;
width: 297px;
height: 45px;
left: 850.01px;
top: 790px;

background: #6480C7;
box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}