@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Jost&display=swap');

::-webkit-scrollbar {
  width: 19px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 2px;
  background: #3A3939;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #6480C7; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

.Description {

  position: absolute;
  width: 507.4px;
  height: 266px;
  left: 641.78px;
  top: 38.02px;
  font-size: 38.1254px;
  line-height: 38px;
  text-align: right;
  color: #FFFFFF;
  text-shadow: 4px 2px 0px rgba(0, 0, 0, 0.25);

}

body {
  background-color: #212121;
}

.Circle{
  border-radius: 50%;
  position: absolute;
}

.Circle1 {
  width: 432.09px;
  height: 432.09px;
  left: 124.97px;
  top: 40.24px;
  background: #920D0D;
  box-shadow: -40px 4px 0px rgba(0, 0, 0, 0.25);
}

.Circle2 {
  width: 366.43px;
  height: 366.43px;
  left: 751.92px;
  top: 154.17px;
  background: #6480C7;
  box-shadow: -40px 4px 0px rgba(0, 0, 0, 0.25);
}

.StarterImage {
  position: absolute;
  width: 575.67px;
  height: 558.72px;
  left: 50px;
  top: 25px;
  filter: drop-shadow(-42px 4px 0px rgba(0, 0, 0, 0.25));
}

.Vectors {
  background-color: null;
  position: absolute;
  max-width: max-content;
  height: 300.77px;
  left: 0px;
}

.Circle3 {
  width: 230.87px;
  height: 230.87px;
  left: 974.32px;
  top: 728.62px;
  background: #920D0D;
}

.interests {
  position: absolute;
width: 843.23px;
height: 407.68px;
left: 302px;
top: 875px;

}

.interestcircle{
position: absolute;
width: 230.87px;
height: 230.87px;
left: 974.31px;
top: 648.62px;

background: #920D0D; 
box-shadow: -40px 4px 0px rgba(0, 0, 0, 0.25);
}

.heading {
  position: absolute;
  width: 393px;
  height: 72px;
  left: 751.92px;
  top: 806.99px;
  font-size: 72.3604px;
  line-height: 72px;
  
  color: #FFFFFF;
  
  text-shadow: 6px 4px 4px rgba(0, 0, 0, 0.25);
}

p{
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
}

.heading {
  position: absolute;
  width: 393px;
  height: 72px;
  left: 751.92px;
  top: 656.99px;
  font-size: 72.3604px;
  line-height: 72px;
  
  color: #FFFFFF;
  
  text-shadow: 6px 4px 4px rgba(0, 0, 0, 0.25);
}

.subheading {
  position: absolute;
  width: 283px;
  height: 38px;
  left: 854.01px;
  top: 759px;
  font-size: 38.13px;
  line-height: 38px;
  text-align: right;
  
  color: #FFFFFF;
  
  text-shadow: 6px 4px 4px rgba(0, 0, 0, 0.25);
}

.subheadsquare{
  position: absolute;
  width: 297px;
  height: 45px;
  left: 850.01px;
  top: 790px;
  background: #6480C7;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

.pendulums {
  position: absolute;
  width: 366px;
  height: 366px;
  border-radius: 50%;
  box-shadow: 0px 28px 0px rgba(0, 0, 0, 0.25);
}


.pendulum1{
  top: 1000px;
  offset-path: path("M19.5 0.5C-87.6823 465.41 296.666 613.568 422 590.5");
  animation: move 4s linear 5;
  background-color: #6480C7;
}

.pendulum2{
  top: 1230px;
  offset-path: path("M-0.5 1C43.3565 324.42 172.681 389.64 667.5 364.5");
  animation: move 4s linear 5;
  background-color: #FFFFFF;
}

.pendulum3{
  top: 1430px;
  offset-path: path("M-1.5 0.5C54.2148 160.26 244.098 196.81 874.5 164.5");
  animation: move 4s linear 5;
  background-color: #920D0D;
}

 

@keyframes move {
  100% { 
    offset-distance: 100%;
  }
}


.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: red;
  transform: translate(-50%, -50%);
  transition: transform 2s ease;
}

.move-down {
  transform: translate(-50%, 100%);
}

.move-up {
  transform: translate(-50%, -200%);
}
