@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Jost&display=swap');


.Description {

  position: absolute;
  width: 507.4px;
  height: 266px;
  left: 641.78px;
  top: 108.02px;

  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 38.1254px;
  line-height: 38px;
  text-align: right;

  color: #FFFFFF;
}

body {
  background-color: #212121;
}

.Circle{
  border-radius: 50%;
  position: absolute;
}
.Circle1 {
  width: 432.09px;
  height: 432.09px;
  left: 124.97px;
  top: 40.24px;
  background: #920D0D;
}

.Circle2 {
  width: 366.43px;
  height: 366.43px;
  left: 751.92px;
  top: 254.17px;
  background: #D5C21D;
}

.StarterImage {
  position: absolute;
  width: 675.67px;
  height: 658.72px;
  left: 0px;
  top: 0px;
}

.Vector {
  background-color: null;
  position: absolute;
  max-width: max-content;
  height: 300.77px;
  left: 0px;
  top: 506.22px;
}

.heading {
  position: absolute;
  width: 393px;
  height: 72px;
  left: 751.92px;
  top: 806.99px;

  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 72.3604px;
  line-height: 72px;

  color: #FFFFFF;
}

.subheading {
  position: absolute;
  width: 527.4px;
  height: 38px;
  left: 610.01px;
  top: 879px;

  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 38.1254px;
  line-height: 38px;
  text-align: right;

  color: #FFFFFF;
}

.Circle3 {
  width: 230.87px;
  height: 230.87px;
  left: 974.32px;
  top: 728.62px;
  background: #920D0D;
}